@import "../../App.scss";

.container {
  top: 0;
  display: flex;
  background-color: $colour-grey;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .path {
    text-decoration: underline;
    text-decoration-line: overline;
    font-size: 26px;
    margin-bottom: -4px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}