.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  .utilOptions {
    display: flex;
    .dice {
      display: flex;
    }
  }

  .utilView {
    
  }
}
