@import "../../App.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  height: auto;
  column-gap: 10px;
  row-gap: 4px;
  margin-top: 4px;
  border-radius: 6px;
  box-shadow: 1px 3px 3px black;
  flex-wrap: wrap;
  padding: 6px;

  & > * {
    height: 34px;
    border-radius: 6px;
  }

  .cancel {
    // margin-right: -2px;
  }

  // name field for num and flag types (shorter)
  .name {
    width: 38%;
    font-size: $font-size-body;
    padding-left: 6px;
  }

  // name field for text
  .textName {
    width: 64%;
    font-size: $font-size-body;
    padding-left: 6px;
  }

  .type {
    width: 20%;
    color: grey;
  }

  .numValue {
    width: 22%;
    font-size: 20px;
    text-align: center;

    &:invalid {
      background-color: rgb(255, 24, 24);
      border: 1px solid red;
    }
  }

  .textValue {
    width: 98%;
    font-size: $font-size-body;
    // text-align: center;
    padding-top: 4px;
    padding-left: 6px;
  }

  .flagValue {
    width: 22%;
    font-size: 14px;
    text-align: center;
  }

  // .fixed {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 16%;
  //   font-size: 12px;

  //   & > * {
  //     margin-top: -6px;
  //     margin-bottom: -4px;
  //   }
  // }
}

.numColour {
  background-color: $colour-green-light;
}

.textColour {
  background-color: $colour-blue-light;
}

.flagColour {
  background-color: $colour-orange-light;
}
