.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;

  .gameCode {
    display: flex;
    justify-content: space-evenly;
    width: 260px;
    align-items: center;

    button {
      width: 42%;
    }

    input {
      border-radius: 4px;
      width: 50%;
      font-size: 14px;
      height: 32px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 260px;

    & > * {
      border-radius: 4px;
    }

    label {
      margin-top: 10px;
    }
  }
}
