@import "../../App.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 6px;

  .diceValAmount {
    display: flex;
    justify-content: center;

    select {
      height: 36px;
      width: 56px;
      text-align: center;
    }

    input {
      width: 50px;
      font-size: 20px;
      text-align: center;
      z-index: 0;
    }

    button {
      height: 36px;
      border-radius: 6px;
    }
  }

  .rollButton {
    cursor: pointer;
  }
}

.span {
  float: left;
  text-align: center;
  width: 30px;
  font-weight: 900;
  color: $colour-purple;
}
